.git
Thumbs.db
.DS_Store
.env.backup
.env
*.log
!bootstrap/cache/.gitkeep
!storage/framework/views/.gitkeep
!storage/framework/sessions/.gitkeep
!storage/framework/cache/.gitkeep
!storage/logs/.gitkeep
bootstrap/cache/*
storage/framework/views/*
storage/framework/sessions/*
storage/framework/cache/*
storage/logs/*
vendor
node_modules
.vscode
.idea
.github

